apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - acme-inc-models-app.yaml
  - gpu-models-app.yaml
  # keycloak-app.yaml is intentionally excluded
  - maas-tier-config-app.yaml
  - machine-set-app.yaml
  - oauth-app.yaml
  - public-models-app.yaml
#  - nfd-operator-application.yaml
#  - nfd-instance.yaml
#  - nvidia-operator-application.yaml
#  - nvidia-cluster-policy-application.yaml
#  - ocpai-operator.yaml
#  - ocpai-dcs-instance.yaml
